@font-face {
    font-family: 'malatestian';
    src: url('../fonts/Malatestian.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.ttf');
    font-weight: 200;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: 'Roboto';
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* header styles */

header {
    background-color: #26ABE2;
    border-radius: 0px 0px 25px 25px;
    position: relative;
}

.header_menu {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 188px;
    flex: 0.8;
}

.header_container {
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 25px;
}

.header_menu__link {
    border: 5px solid white;
    border-radius: 21px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header_profile__img {
    margin: auto 0;
}
.Login {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    text-decoration: underline;
    color: white;
    margin: auto 0;
}
.header_logo__img {
    margin: auto 0;
}

.Home {
    width: 180px;
    height: 63px;
    
}
.active_link{
    background-color: white;
    color: #26ABE2;
}
.Dashboard {
    width: 210px;
    height: 63px;
}

.Take_vacation {
    width: 226px;
    height: 63px;
}

.Documents {
    width: 210px;
    height: 63px;
}
.dropdown{
    width: 376px;
    height: 414px;
    position: absolute;
    right: 65px;
    top: 130px;
    background-color: #2FC2FF;;
    border-radius: 20px;
    padding-left: 12px;
    padding-top: 12px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.active{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    z-index: 99;
}
.dropdown_head{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.dropdown_head p{
    font-weight: 500;
font-size: 26px;
line-height: 35px;
color: white;
margin-left: 18px;
}
.dropdown_list{
font-weight: 500;
font-size: 26px;
line-height: 35px;
display: flex;
padding: 8px 0 8px 0;
margin-top: 21px;
}
.dropdown_list a{
    text-decoration: none;
    color: white;

}
.dropdown_list img{
    width: 37px;
    height: 37px;
    margin-right: 15px;
}
/* first section styles*/

.first_section{
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 42px;
}
.title_wrapper{
    display: flex;
    justify-content: left;
    align-items: center;
}
.title_wrapper p{
    font-family: 'Malatestian';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 59px;
color: #26ABE2;
}
.title_wrapper img{
    width: 22.5px;
    height: 45px;
    margin-right: 38px;
}
.note{
    display: flex;
    margin-top: 44px;
    justify-content: space-around;
    padding: 0 280px 0 120px;
}
.note p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
}
.data{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 0 190px 0 140px;
}
.data_from{
    display: flex;
    font-weight: 400;
font-size: 25px;
line-height: 29px;
}
.data_to{
    display: flex;
    font-weight: 400;
font-size: 25px;
line-height: 29px;
}
.data p {
    margin-right: 40px;
}
.second_section{
    margin-top: 53px;
    text-align: center;
    align-items: center;
}
.second_section textarea{
    width: 637px;
    height: 302px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px 19px;
    font-weight: 400;
    font-size: 20px;
}
.second_section textarea::placeholder{
    opacity: 50%;
}
.second_section div{
    width: 637px;
    display: flex;
    margin: 0 auto;
    justify-content: right;
    font-weight: 400;
font-size: 20px;
line-height: 23px;
align-items: center;
margin-top: 32px;
}
.input{
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 7px;
    margin-left: 15px;
    margin-right: 40px;
}
.cancel{
    background: #26ABE2;
border-radius: 29px;
width: 138px;
height: 50px;
font-weight: 600;
font-size: 25px;
line-height: 29px;
color: white;
}
.apply{
    background: #26ABE2;
border-radius: 29px;
height: 50px;
width: 184px;
font-weight: 600;
font-size: 25px;
line-height: 29px;
color: white;
margin:0 20px 0 43px;
}