<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../Static/css/dashboard.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="header_container">
                <img src="../Static/Images/Logo.png" alt="logo" width="155px" height="158px" class="header_logo__img">
                <div class="header_menu">
                    <a href="" class="header_menu__link Home ">Home</a>
                    <a href="" class="header_menu__link Dashboard active_link">Dashboard</a>
                    <a href="" class="header_menu__link Take_vacation">Take vacation</a>
                    <a href="" class="header_menu__link Documents">Documents</a>
                </div>

                <img src="../Static/Images/profile.png" alt="profile" width="94px" height="94px"
                    class="header_profile__img">
                <div class="dropdown">
                    <div class="dropdown_head">
                        <img src="../Static/Images/profile.png" alt="profile" width="94px" height="94px"
                            class="header_profile__img">
                        <span>
                            <p>Kondrat O.</p>
                            <p style="font-weight: 200; text-align: left;">#9965</p>
                        </span>
                    </div>
                    <div class="dropdown_list">
                        <img src="../Static/Images/calendar.png" alt="">
                        <a href="">Vacations calendar</a>
                    </div>
                    <div class="dropdown_list">
                        <img src="../Static/Images/request.png" alt="">
                        <a href="">Vacation requests</a>
                    </div>
                    <div class="dropdown_list">
                        <img src="../Static/Images/question.png" alt="">
                        <a href="">How to use?</a>
                    </div>
                    <div class="dropdown_list">
                        <img src="../Static/Images/logout.png" alt="">
                        <a href="">Log out</a>
                    </div>
                </div>

                <!-- Login -->
                <!-- <p class="Login">Log in</p> -->
            </div>
        </header>

        <section class="first_section">
            <img src="../Static/Images/arrow.png" alt="">
            <label class="search">
                <input type="text" name="search" id="" placeholder="Search...">
                <img src="../Static/Images/search.png" alt="" class="search_icon">
            </label>

            <div class="select">
                <p>
                    Sort by...
                </p>
                <img src="../Static/Images/double_arrow.png" class="arrow_sort">
            </div>
            <div class="sort" >
                <form>
                    <select size="4" class="sort_select">
                        <option value="A-Z">A-Z</option>
                        <option value="Z-A">Z-A</option>
                        <option value="Vacation">Vacations</option>
                        <option value="Vacation">Vacations</option>
                    </select>
                </form>
            </div>
        </section>
            <!-- <div class="select">
                <p>
                    Sort by...
                </p>
                <img src="../Static/Images/double_arrow.png" class="arrow_sort">
            </div>
            <div class="sort">
                <div class="sort_list">
                    <img src="../Static/Images/arrow_down_AZ.png" alt="">
                    <p>Names</p>
                </div>
                <div class="sort_list">
                    <img src="../Static/Images/arrow_up_AZ.png" alt="">
                    <p>Names</p>
                </div>
                <div class="sort_list">
                    <img src="../Static/Images/vacation_down_arrow.png" alt="">
                    <p>Vacations</p>
                </div>
                <div class="sort_list">
                    <img src="../Static/Images/vacation_up_arrow.png" alt="">
                    <p>Vacations</p>
                </div>
            </div> -->
       
        <section class="second_section">
            <div class="tabel">
                <div class="cell">
                    <h4 style="max-width: 162px;">Employee ID</h4>
                    <h4>Name</h4>
                    <h4>Email</h4>
                    <h4>Vacation days</h4>
                    <h4>Status</h4>
                </div>
                <a class="cell" href="profilePage.html">
                    <p style="display: flex; justify-content: right; padding: 0px 13px 0 0; max-width: 162px;">4325</p>
                    <p>Amir Bakirov</p>
                    <p>bakirov_am@auca.kg</p>
                    <p>13 days</p>
                    <p>On Vacation</p>
                </a>
                <a class="cell" href="profilePage.html">
                    <p style="display: flex; justify-content: right; padding: 0px 13px 0 0; max-width: 162px;">4325</p>
                    <p>Amir Bakirov</p>
                    <p>bakirov_am@auca.kg</p>
                    <p>13 days</p>
                    <p>On Vacation</p>
                </a>
                <a class="cell" href="profilePage.html">
                    <p style="display: flex; justify-content: right; padding: 0px 13px 0 0; max-width: 162px;">4325</p>
                    <p>Amir Bakirov</p>
                    <p>bakirov_am@auca.kg</p>
                    <p>13 days</p>
                    <p>On Vacation</p>
                </a>
                <a class="cell" href="profilePage.html">
                    <p style="display: flex; justify-content: right; padding: 0px 13px 0 0; max-width: 162px;">4325</p>
                    <p>Amir Bakirov</p>
                    <p>bakirov_am@auca.kg</p>
                    <p>13 days</p>
                    <p>On Vacation</p>
                </a>
                <a class="cell" href="profilePage.html">
                    <p style="display: flex; justify-content: right; padding: 0px 13px 0 0; max-width: 162px;">4325</p>
                    <p>Amir Bakirov</p>
                    <p>bakirov_am@auca.kg</p>
                    <p>13 days</p>
                    <p>On Vacation</p>
                </a>
                <a class="cell" href="profilePage.html">
                    <p style="display: flex; justify-content: right; padding: 0px 13px 0 0; max-width: 162px;">4325</p>
                    <p>Amir Bakirov</p>
                    <p>bakirov_am@auca.kg</p>
                    <p>13 days</p>
                    <p>On Vacation</p>
                </a>
                <a class="cell" href="profilePage.html">
                    <p style="display: flex; justify-content: right; padding: 0px 13px 0 0; max-width: 162px;">4325</p>
                    <p>Amir Bakirov</p>
                    <p>bakirov_am@auca.kg</p>
                    <p>13 days</p>
                    <p>On Vacation</p>
                </a>
                <a class="cell" href="profilePage.html">
                    <p style="display: flex; justify-content: right; padding: 0px 13px 0 0; max-width: 162px;">4325</p>
                    <p>Amir Bakirov</p>
                    <p>bakirov_am@auca.kg</p>
                    <p>13 days</p>
                    <p>On Vacation</p>
                </a>

            </div>
        </section>
        <section class="third_section">
            <div>
                <button>Update employee</button>
                <button style="width: 287px; margin-left: 33px;">Add new employee</button>
            </div>
        </section>
    </div>

    <script src="script.js"></script>

</body>

</html>