<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="../Static/css/homepage.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="header_container">
                <img src="../Static/Images/Logo.png" alt="logo" width="155px" height="158px" class="header_logo__img">
                <div class="header_menu">
                    <a href="" class="header_menu__link Home active_link">Home</a>
                    <!-- Для Админа -->
                    <a href="" class="header_menu__link Dashboard">Dashboard</a>
                    <!-- Туториал -->
                    <!-- <a href="" class="header_menu__link Dashboard">Tutorial</a> -->
                    <a href="" class="header_menu__link Take_vacation">Take vacation</a>
                    <a href="" class="header_menu__link Documents">Documents</a>
                </div>

                <img src="../Static/Images/profile.png" alt="profile" width="94px" height="94px"
                    class="header_profile__img">
                <div class="dropdown">
                    <div class="dropdown_head">
                        <img src="../Static/Images/profile.png" alt="profile" width="94px" height="94px"
                            class="header_profile__img">
                        <span>
                            <p>Kondrat O.</p>
                            <p style="font-weight: 200; text-align: left;">#9965</p>
                        </span>
                    </div>
                    <div class="dropdown_list">
                        <img src="../Static/Images/calendar.png" alt="">
                        <a href="">Vacations calendar</a>
                    </div>
                    <div class="dropdown_list">
                        <img src="../Static/Images/request.png" alt="">
                        <a href="">Vacation requests</a>
                    </div>
                    <div class="dropdown_list">
                        <img src="../Static/Images/question.png" alt="">
                        <a href="">How to use?</a>
                    </div>
                    <div class="dropdown_list">
                        <img src="../Static/Images/logout.png" alt="">
                        <a href="">Log out</a>
                    </div>
                </div>
                <!-- Login -->
                <!-- <p class="Login">Log in</p> -->
            </div>
        </header>
        <section class="first_section">
            <div class="first_section__cont">
                <img src="../Static/Images/airmanas.png" alt="">
                <div class="first_section__text">
                    <h3 class="aboutus">
                        About us:
                    </h3>
                    <p class="first_text">
                        Lorem ipsum dolor sit amet consectetur. Duis quam aliquam nunc cursus commodo nullam sed. Cras
                        arcu sit fermentum mus elementum. Nunc eu lectus odio ut lectus auctor. Et quam ullamcorper
                        sapien nibh posuere diam. Phasellus morbi amet ipsum eget gravida tempus. Magnis ut est odio non
                        elit eu egestas. Arcu feugiat lectus orci augue justo libero. Tellus fames pretium augue porta
                        arcu sagittis tincidunt sociis vel. Cras nisl tempus egestas in nulla.
                    </p>
                </div>
            </div>
        </section>

        <section class="second_section">
            <div class="first_box">
                <h2>announcements</h2>
                <ul>
                    <div class="first_box__flex">
                        <li>
                            Kondrat Olegovich:
                        </li>
                        <p>Lorem ipsum dolor sit amet consectetur. Enim neque aenean imperdiet turpis vitae nibh hac.
                        </p>
                        <h6>2hr ago</h6>
                    </div>
                </ul>
                <ul>
                    <div class="first_box__flex">
                        <li>
                            Kondrat Olegovich:
                        </li>
                        <p>Lorem ipsum dolor sit amet consectetur. Enim neque aenean imperdiet turpis vitae nibh hac.
                        </p>
                        <h6>2hr ago</h6>
                    </div>
                </ul>
                <ul>
                    <div class="first_box__flex">
                        <li>
                            Kondrat Olegovich:
                        </li>
                        <p>Lorem ipsum dolor sit amet consectetur. Enim neque aenean imperdiet turpis vitae nibh hac.
                        </p>
                        <h6>2hr ago</h6>
                    </div>
                </ul>
                <ul>
                    <div class="first_box__flex">
                        <li>
                            Kondrat Olegovich:
                        </li>
                        <p>Lorem ipsum dolor sit amet consectetur. Enim neque aenean imperdiet turpis vitae nibh hac.
                        </p>
                        <h6>2hr ago</h6>
                    </div>
                </ul>
            </div>
            <div class="second_box">
                <div class="birthday">
                    <h2>Birthdays at february</h2>
                    <img src="../Static/Images/cake_icon.png">
                </div>
                <div class="birthday_list">
                    <div style="display: flex;">
                        <p style="font-size: 40px;">2 -&nbsp</p>
                        <p> Burov Artem Evgenievich</p>
                    </div>
                    <div style="display: flex; position: relative;">
                        <p style="font-size: 40px;">12 - &nbsp</p>
                        <p>Knyazev Kondrat Olegovich</p>
                        <img src="../Static/Images/fireworks.png" alt=""
                            style="position: absolute; bottom: 10px; right: 125px; ">
                    </div>
                    <div style="display: flex;">
                        <p style="font-size: 40px;">22 - &nbsp</p>
                        <p>Gerasimov Svyatoslav Stanislavovich</p>
                    </div>
                    <div style="display: flex;">

                        <p style="font-size: 40px;">27 - &nbsp</p>
                        <p>Bobylev Ovid Lavrentievich</p>
                    </div>
                    <div style="display: flex;">
                        <p style="font-size: 40px;">28 - &nbsp</p>
                        <p>Kondratiev Artem Yaroslavovich</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="script.js"></script>
</body>

</html>