<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VacationCalendar</title>
    <link rel="stylesheet" href="../Static/css/vacationCalendar.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header_container">
                <img src="../Static/Images/Logo.png" alt="logo" width="155px" height="158px" class="header_logo__img">
                <div class="header_menu">
                    <a href="" class="header_menu__link Home ">Home</a>
                    <a href="" class="header_menu__link Dashboard ">Dashboard</a>
                    <a href="" class="header_menu__link Take_vacation">Take vacation</a>
                    <a href="" class="header_menu__link Documents">Documents</a>
                </div>

                <img src="../Static/Images/profile.png" alt="profile" width="94px" height="94px"
                    class="header_profile__img">
                <div class="dropdown">
                    <div class="dropdown_head">
                        <img src="../Static/Images/profile.png" alt="profile" width="94px" height="94px"
                            class="header_profile__img">
                        <span>
                            <p>Kondrat O.</p>
                            <p style="font-weight: 200; text-align: left;">#9965</p>
                        </span>
                    </div>
                    <div class="dropdown_list">
                        <img src="../Static/Images/calendar.png" alt="">
                        <a href="">Vacations calendar</a>
                    </div>
                    <div class="dropdown_list">
                        <img src="../Static/Images/request.png" alt="">
                        <a href="">Vacation requests</a>
                    </div>
                    <div class="dropdown_list">
                        <img src="../Static/Images/question.png" alt="">
                        <a href="">How to use?</a>
                    </div>
                    <div class="dropdown_list">
                        <img src="../Static/Images/logout.png" alt="">
                        <a href="">Log out</a>
                    </div>
                </div>

                <!-- Login -->
                <!-- <p class="Login">Log in</p> -->
            </div>
        </header>
        <section class="first_section">
            <div class="title_wrapper">
                <div>
                <img src="../Static/Images/arrow.png" alt="" class="arrow_left">
            </div>
                <div class="calendar-wrapper">
                    <button id="month_prev" type="button"></button>
                    <button id="month_next" type="button"></button>
                <div id="divCal"></div>
                </div>
            </div>
        </section>
<div class="footer">
        <div class="foter_planned">
            <p>vacation planned</p>
            <div></div>
        </div>
        <div class="foter_vacation">
            <p>on vacation now</p>
            <div></div>
        </div>
    </div>
</div>
    <script>
        var Cal = function(divId) {

//Сохраняем идентификатор div
this.divId = divId;

// Дни недели с понедельника
this.DaysOfWeek = [
  'Mo',
  'Tu',
  'We',
  'Th',
  'Fr',
  'Su',
  'Sa'
];

// Месяцы начиная с января
this.Months =['January', 'february', 'March', 'April ', 'May', 'June', 'July', 'August', 'September', 'October', 'November ', 'December'];

//Устанавливаем текущий месяц, год
var d = new Date();

this.currMonth = d.getMonth('9');
this.currYear = d.getFullYear('22');
this.currDay = d.getDate('3');
};

// Переход к следующему месяцу
Cal.prototype.nextMonth = function() {
    
if ( this.currMonth == 11 ) {
  this.currMonth = 0;
  this.currYear = this.currYear + 1;
}
else {
  this.currMonth = this.currMonth + 1;
}
this.showcurr();
};

// Переход к предыдущему месяцу
Cal.prototype.previousMonth = function() {
if ( this.currMonth == 0 ) {
  this.currMonth = 11;
  this.currYear = this.currYear - 1;
}
else {
  this.currMonth = this.currMonth - 1;
}
this.showcurr();
};

// Показать текущий месяц
Cal.prototype.showcurr = function() {
this.showMonth(this.currYear, this.currMonth);
};



// Показать месяц (год, месяц)
Cal.prototype.showMonth = function(y, m) {

var d = new Date()
// Первый день недели в выбранном месяце 
, firstDayOfMonth = new Date(y, m, 7).getDay()
// Последний день выбранного месяца
, lastDateOfMonth =  new Date(y, m+1, 0).getDate()
// Последний день предыдущего месяца
, lastDayOfLastMonth = m == 0 ? new Date(y-1, 11, 0).getDate() : new Date(y, m, 0).getDate();


var html = '<table>';

// Запись выбранного месяца и года
html += '<div class="up_flex">';
html += '<p>' +y+ '</p>';
html += '<div colspan="7" class="flex_month">' + this.Months[m] + '</div> </div>';


// заголовок дней недели
html += '<tr class="days">';
for(var i=0; i < this.DaysOfWeek.length;i++) {
  html += '<td>' + this.DaysOfWeek[i] + '</td>';
}
html += '</tr>';

// Записываем дни
var i=1;
do {

  var dow = new Date(y, m, i).getDay();

  // Начать новую строку в понедельник
  if ( dow == 1 ) {
    html += '<tr>';
  }
  
  // Если первый день недели не понедельник показать последние дни предидущего месяца
  else if ( i == 1 ) {
    html += '<tr>';
    var k = lastDayOfLastMonth - firstDayOfMonth+1;
    for(var j=0; j < firstDayOfMonth; j++) {
      html += '<td class="not-current">' + k + '</td>';
      k++;
    }
  }

  // Записываем текущий день в цикл
  var chk = new Date();
  var chkY = chk.getFullYear();
  var chkM = chk.getMonth();
  if (chkY == this.currYear && chkM == this.currMonth && i == this.currDay) {
    html += '<td class="today">' + i + '</td>';
  } else {
    html += '<td class="normal">' + i + '</td>';
  }
  // закрыть строку в воскресенье
  if ( dow == 0 ) {
    html += '</tr>';
  }
  // Если последний день месяца не воскресенье, показать первые дни следующего месяца
  else if ( i == lastDateOfMonth ) {
    var k=1;
    for(dow; dow < 7; dow++) {
      html += '<td class="not-current">' + k + '</td>';
      k++;
    }
  }

  i++;
}while(i <= lastDateOfMonth);

// Конец таблицы
html += '</table>';

// Записываем HTML в div
document.getElementById(this.divId).innerHTML = html;
};

// При загрузке окна
window.onload = function() {

// Начать календарь
var c = new Cal("divCal");			
c.showcurr();

// Привязываем кнопки «Следующий» и «Предыдущий»
getId('month_next').onclick = function() {
  c.nextMonth();
};
getId('month_prev').onclick = function() {
  c.previousMonth();
};
}

// Получить элемент по id`
function getId(id) {
return document.getElementById(id);
}

    </script>
    <script src="script.js"></script>
</body>
</html>