<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VacationRequests</title>
    <link rel="stylesheet" href="../Static/css/vacationRequests.css">
    <link rel="stylesheet" href="../Static/css/vacationInfo.css">
</head>
<body>


    <div class="container_info">
        <div class="wrapper">
        <div class="header">
            <p>vacation info</p>
            <img src="../Static/Images/cross.png" alt="" class="close">
        </div>
        <div class="info">
            <div><p>Employee: </p><strong>Knyazev Kondrat</strong></div>
            <div><p>Profession: </p><strong>Pilot</strong></div>
            <div><p>Period: </p><strong>08.02.23 - 10.02 .23 (3 days)</strong></div>

                                <!-- info1 -->
            <!-- <div> <p>Status: </p><strong>In progress</strong><span class="green"></span></div> -->

                                <!-- Info2 -->
            <div> <p>Status: </p><strong>Planned</strong><span class="orange"></span></div>
            <div> <p>Accepted: </p><strong>No</strong></div>

                                <!-- Personal -->
            <!-- <div> <p>Accepted: </p><strong>Yes</strong></div> -->
            

            <div><p>Reason: </p><textarea name="" id="" cols="30" rows="10"></textarea></div>
        </div>
        <div class="button_close">
                                <!-- Info2 -->
            <button class="btn_decline">Decline</button>
            <button class="btn_accept">Accept</button>

                                <!-- info1 и personal -->
            <!-- <button class="btn_close">Close</button> -->
        </div>
    </div>
    </div>


    <div class="container">
        <header class="header">
            <div class="header_container">
                <img src="../Static/Images/Logo.png" alt="logo" width="155px" height="158px" class="header_logo__img">
                <div class="header_menu">
                    <a href="" class="header_menu__link Home ">Home</a>
                    <a href="" class="header_menu__link Dashboard ">Dashboard</a>
                    <a href="" class="header_menu__link Take_vacation">Take vacation</a>
                    <a href="" class="header_menu__link Documents">Documents</a>
                </div>

                <img src="../Static/Images/profile.png" alt="profile" width="94px" height="94px"
                    class="header_profile__img">
                <div class="dropdown">
                    <div class="dropdown_head">
                        <img src="../Static/Images/profile.png" alt="profile" width="94px" height="94px"
                            class="header_profile__img">
                        <span>
                            <p>Kondrat O.</p>
                            <p style="font-weight: 200; text-align: left;">#9965</p>
                        </span>
                    </div>
                    <div class="dropdown_list">
                        <img src="../Static/Images/calendar.png" alt="">
                        <a href="">Vacations calendar</a>
                    </div>
                    <div class="dropdown_list">
                        <img src="../Static/Images/request.png" alt="">
                        <a href="">Vacation requests</a>
                    </div>
                    <div class="dropdown_list">
                        <img src="../Static/Images/question.png" alt="">
                        <a href="">How to use?</a>
                    </div>
                    <div class="dropdown_list">
                        <img src="../Static/Images/logout.png" alt="">
                        <a href="">Log out</a>
                    </div>
                </div>

                <!-- Login -->
                <!-- <p class="Login">Log in</p> -->
            </div>
        </header>

        <section class="first_section">
            <div class="title_wrapper">
                <img src="../Static/Images/arrow.png" alt="">
                <p>vacation requests</p>
            </div>
        </section>

        <section class="second_section">
            <div class="line">
                <div class="status"></div>
                <p class="name">Kondrat Olegovich</p>
                <div class="text">Lorem ipsum dolor sit amet consectetur. Placerat cursus laoreet sit diam nequedsadasdasdasdashjkdghjasgdhaskghldlkgasgldlgaslgdlgasdglhasghdghjashjkdghjklaskghjljdkghjlashjkd....</div>
                <p class="time">2 hours ago</p>
            </div>
            <div class="line">
                <div class="status"></div>
                <p class="name">Kondrat Olegovich</p>
                <div class="text">Lorem ipsum dolor sit amet consectetur. Placerat cursus laoreet sit diam nequedsadasdasdasdashjkdghjasgdhaskghldlkgasgldlgaslgdlgasdglhasghdghjashjkdghjklaskghjljdkghjlashjkd....</div>
                <p class="time">21 jan</p>
            </div>
            <div class="line">
                <div class="status"></div>
                <p class="name">Kondrat Olegovich</p>
                <div class="text">Lorem ipsum dolor sit amet consectetur. Placerat cursus laoreet sit diam nequedsadasdasdasdashjkdghjasgdhaskghldlkgasgldlgaslgdlgasdglhasghdghjashjkdghjklaskghjljdkghjlashjkd....</div>
                <p class="time">2 hours ago</p>
            </div>
            <div class="line">
                <div class="status"></div>
                <p class="name">Kondrat Olegovich</p>
                <div class="text">Lorem ipsum dolor sit amet consectetur. Placerat cursus laoreet sit diam nequedsadasdasdasdashjkdghjasgdhaskghldlkgasgldlgaslgdlgasdglhasghdghjashjkdghjklaskghjljdkghjlashjkd....</div>
                <p class="time">2 hours ago</p>
            </div>
        </section>

        <section class="third_section">
            <p class="accepted_style">accepted:</p>
            <div class="line color_line">
                <div class="status_green"></div>
                <p class="name color_name" >Kondrat Olegovich</p>
                <div class="text color_text">Lorem ipsum dolor sit amet consectetur. Placerat cursus laoreet sit diam nequedsadasdasdasdashjkdghjasgdhaskghldlkgasgldlgaslgdlgasdglhasghdghjashjkdghjklaskghjljdkghjlashjkd....</div>
                <p class="time color_name">2 hours ago</p>
            </div>
            <div class="line color_line">
                <div class="status_green"></div>
                <p class="name color_name" >Kondrat Olegovich</p>
                <div class="text color_text">Lorem ipsum dolor sit amet consectetur. Placerat cursus laoreet sit diam nequedsadasdasdasdashjkdghjasgdhaskghldlkgasgldlgaslgdlgasdglhasghdghjashjkdghjklaskghjljdkghjlashjkd....</div>
                <p class="time color_name">2 hours ago</p>
            </div>
            <div class="line color_line">
                <div class="status_green"></div>
                <p class="name color_name" >Kondrat Olegovich</p>
                <div class="text color_text">Lorem ipsum dolor sit amet consectetur. Placerat cursus laoreet sit diam nequedsadasdasdasdashjkdghjasgdhaskghldlkgasgldlgaslgdlgasdglhasghdghjashjkdghjklaskghjljdkghjlashjkd....</div>
                <p class="time color_name">2 hours ago</p>
            </div>
        </section>
    </div>
 

    <script src="script.js"></script>
    <script src="info.js"></script>
</body>
</html>