<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VacationInfo</title>
    <link rel="stylesheet" href="../Static/css/vacationInfo.css">
</head>
<body>
    <div class="container_info">
        <div class="header">
            <p>vacation info</p>
            <img src="../Static/Images/cross.png" alt="">
        </div>
        <div class="info">
            <div><p>Employee: </p><strong>Knyazev Kondrat</strong></div>
            <div><p>Profession: </p><strong>Pilot</strong></div>
            <div><p>Period: </p><strong>08.02.23 - 10.02 .23 (3 days)</strong></div>

                                <!-- info1 -->
            <!-- <div> <p>Status: </p><strong>In progress</strong><span class="green"></span></div> -->

                                <!-- Info2 -->
            <div> <p>Status: </p><strong>Planned</strong><span class="orange"></span></div>
            <div> <p>Accepted: </p><strong>No</strong></div>

                                <!-- Personal -->
            <!-- <div> <p>Accepted: </p><strong>Yes</strong></div> -->
            

            <div><p>Reason: </p><textarea name="" id="" cols="30" rows="10"></textarea></div>
        </div>
        <div class="button_close">
                                <!-- Info2 -->
            <button class="btn_decline">Decline</button>
            <button class="btn_accept">Accept</button>

                                <!-- info1 и personal -->
            <!-- <button class="btn_close">Close</button> -->
        </div>
    </div>
</body>
</html>